@model List<DataFlow.Models.BootstrapData>

@{
    ViewBag.Title = "Bootstrap Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div style="padding-bottom: 10px;">
    @Html.ActionLink("Add Bootstrap Data", "Add", null, new { @class = "btn btn-primary" })
</div>
<table id="tblBootstrapData" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="20">
    <thead>
        <tr>
            <th>Entity</th>
            <th>Processing Order</th>
            <th data-type="date" data-format-string="yyyy-MM-dd hh:MM tt">Processed Data</th>
            <th data-sortable="false" data-filterable="false"></th>
            <th data-sortable="false" data-filterable="false"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Entity.Name</td>
            <td>@m.ProcessingOrder</td>
            <td data-type="date" data-format-string="yyyy-MM-dd hh:MM tt">@(m.ProcessedDate?.ToString("yyyy-MM-dd hh:MM tt"))</td>
            <td>@Html.ActionLink("Edit", "Edit", new { m.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { m.Id })</td>
        </tr>
    }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $(function($){
            $('#tblBootstrapData').footable();
        });
    </script>
}