@model DataFlow.Web.Models.LogsViewModel

@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-tabs">
    <li id="liFiles" class="active"><a data-toggle="tab" href="#divFiles">Files</a></li>
    <li id="liLogIngestion"><a data-toggle="tab" href="#divLogIngestion">Ingestion</a></li>
    <li id="liLogApplication"><a data-toggle="tab" href="#divLogApplication">Application</a></li>
</ul>
<div class="tab-content">
    <div id="divFiles" class="tab-pane fade in active">
        <table id="tblFiles" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="20">
            <thead>
                <tr>
                    <th>Agent Name</th>
                    <th>File Name</th>
                    <th>Status</th>
                    <th>Message</th>
                    <th data-type="number">Rows</th>
                    <th data-type="date" data-format-string="yyyy-MM-dd hh:MM tt">Created Date</th>
                    <th data-type="date" data-format-string="yyyy-MM-dd hh:MM tt">Updated Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.Files)
            {
                    <tr>
                        <td>@m.Agent.Name</td>
                        <td>@m.FileName</td>
                        <td>@m.Status</td>
                        <td>@m.Message</td>
                        <td>@m.Rows.GetValueOrDefault(0)</td>
                        <td>@(m.CreateDate?.ToString("yyyy-MM-dd hh:MM tt"))</td>
                        <td>@(m.UpdateDate?.ToString("yyyy-MM-dd hh:MM tt"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="divLogIngestion" class="tab-pane fade">
        <table id="tblIngestion" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="20">
            <thead>
                <tr>
                    <th data-type="date" data-format-string="yyyy-MM-dd hh:MM tt">Date</th>
                    <th>Level</th>
                    <th>Operation</th>
                    <th>Process</th>
                    <th>File Name</th>
                    <th>Result</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.LogIngestions)
            {
                    <tr>
                        <td>@(m.Date.ToString("yyyy-MM-dd hh:MM tt"))</td>
                        <td>@m.Level</td>
                        <td>@m.Operation</td>
                        <td>@m.Process</td>
                        <td>@m.FileName</td>
                        <td>@m.Result</td>
                        <td>@m.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="divLogApplication" class="tab-pane fade">
        <table id="tblApplication" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="20">
            <thead>
                <tr>
                    <th>Thread</th>
                    <th>Logger</th>
                    <th>Message</th>
                    <th>Exception</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model.LogApplications)
            {
                    <tr>
                        <td>@s.Thread</td>
                        <td>@s.Logger</td>
                        <td>@s.Message</td>
                        <td>@s.Exception</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function($){
            $('#tblFiles').footable();
            $('#tblIngestion').footable();
            $('#tblApplication').footable();
        });
    </script>
}