@model DataFlow.Web.Models.SchoolViewModel.Detail

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul class="nav nav-tabs">
    <li id="liStudent"><a data-toggle="tab" href="#studentNav">Student</a></li>
    <li id="liStaff"><a data-toggle="tab" href="#staffNav">Staff</a></li>
    <li id="liSection"><a data-toggle="tab" href="#sectionNav">Section</a></li>
    <li id="liAssessment"><a data-toggle="tab" href="#assessmentNav">Assessment</a></li>
</ul>
<div class="tab-content">
    <div id="studentNav" class="tab-pane fade in active">
        <h2>Student</h2>
        <table id="tblStudents" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true">
            <thead>
            <tr>
                <th>Student Unique Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var s in Model.Students)
            {
                <tr>
                    <td>@s.studentUniqueId</td>
                    <td>@s.firstName</td>
                    <td>@s.lastSurname</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div id="staffNav" class="tab-pane fade">
        <h2>Staff</h2>
        <table id="tblStaves" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true">
            <thead>
            <tr>
                <th>Staff Unique Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var s in Model.Staves)
            {
                <tr>
                    <td>@s.staffUniqueId</td>
                    <td>@s.firstName</td>
                    <td>@s.lastSurname</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div id="sectionNav" class="tab-pane fade">
        <h2>Section</h2>
        <table id="tblSections" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true">
            <thead>
            <tr>
                <th>Section Code</th>
                <th>Sequence</th>
                <th>Environment</th>
                <th>Subject</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var s in Model.Sections)
            {
                <tr>
                    <td>@s.uniqueSectionCode</td>
                    <td>@s.sequenceOfCourse</td>
                    <td>@s.educationalEnvironmentType</td>
                    <td>@s.academicSubjectDescriptor</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div id="assessmentNav" class="tab-pane fade">
        <h2>Assessment</h2>
        <table id="tblAssessments" class="table table-striped table-hover table-bordered table-responsive" data-sorting="true" data-filtering="true">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Grade</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var s in Model.Assessments)
            {
                <tr>
                    <td>View Detail</td>
                    <td>@s.assessmentTitle</td>
                    <td>@s.assessedGradeLevelDescriptor</td>
                    <td>@s.version</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function($){
            $('#tblStudents').footable();
            $('#tblStaves').footable();
            $('#tblSections').footable();
            $('#tblAssessments').footable();
        });
    </script>   
}