@model DataFlow.Web.Models.ApiConfigurationValues

@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_FormResultPartial", Model.FormResult)

@using (Html.BeginForm("Index", "Configuration", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4>API Server</h4>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.API_SERVER_URL, new { @class = "control-label" })
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.API_SERVER_URL, new { @class = "form-control", type = "text", placeholder = "API Server Base URL (Example: https://[url]/api/v2.0/2017)" })
            <span class="help-block">Example: https://[url]/api/v2.0/2017</span>
            @Html.ValidationMessageFor(m => m.API_SERVER_URL)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.API_SERVER_KEY, new { @class = "control-label" })
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.API_SERVER_KEY, new { @class = "form-control", type = "text", placeholder = "API Server Key" })
            @Html.ValidationMessageFor(m => m.API_SERVER_KEY)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.API_SERVER_SECRET, new { @class = "control-label" })
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.API_SERVER_SECRET, new { @class = "form-control", type = "text", placeholder = "API Server Secret" })
            @Html.ValidationMessageFor(m => m.API_SERVER_SECRET)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="btnTest" type="button" class="btn btn-primary">Test API Connection</button>
        </div>
    </div>
    <h4>Instance Information</h4>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.INSTANCE_ORGANIZATION_LOGO, new { @class = "control-label" })
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.INSTANCE_ORGANIZATION_LOGO, new { @class = "form-control", type = "url", placeholder = "Organization Logo" })
            @Html.ValidationMessageFor(m => m.INSTANCE_ORGANIZATION_LOGO)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.INSTANCE_ORGANIZATION_URL, new { @class = "control-label" })
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.INSTANCE_ORGANIZATION_URL, new { @class = "form-control", type = "url", placeholder = "Organization URL" })
            @Html.ValidationMessageFor(m => m.INSTANCE_ORGANIZATION_URL)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.INSTANCE_EDU_USE_TEXT, new { @class = "control-label" })
        </div>
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.INSTANCE_EDU_USE_TEXT, new { @class = "form-control", type = "text", placeholder = "Education Use Text" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.CheckBoxFor(m => m.INSTANCE_ALLOW_USER_REGISTRATION)
            @Html.LabelFor(m => m.INSTANCE_ALLOW_USER_REGISTRATION)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="btnUpdate" type="submit" class="btn btn-primary">Update Configuration</button>
        </div>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#btnTest").click(function () {
            var apiServerUrl = $("#API_SERVER_URL").val();
            var apiServerKey = $("#API_SERVER_KEY").val();
            var apiServerSecret = $("#API_SERVER_SECRET").val();

                $.ajax({
                    type: 'POST',
                    data: { apiServerUrl: apiServerUrl, apiServerKey: apiServerKey, apiServerSecret: apiServerSecret },
                    dataType: "html",
                    url: '@Url.Action("ConfigurationIsOk", "Configuration")',
                    success: function (data) {
                        if (data === "True")
                            alert("Connection to API successful!");
                        else
                            alert("Unable to connect to the API");
                    },
                    fail: function (data) {
                        alert("Unable to connect to the API.");
                    }
                });
            });
    </script>
}
