@model List<DataFlow.Models.Lookup>

@{
    ViewBag.Title = "Lookups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div style="padding-bottom: 10px;">
    @Html.ActionLink("Add Lookup", "Add", null, new { @class = "btn btn-primary" })
</div>
<table id="tblLookups" class="table table-striped table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th>Group Set</th>
            <th>Key</th>
            <th>Value</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var groupSet in Model.Select(x => x.GroupSet).Distinct())
    {
        <thead>
            <tr style="background: #D4D4D4;">
                <th colspan="5">@groupSet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Where(x => x.GroupSet == groupSet))
            {
            <tr>
                <td style="background: #fff; border-top: none; border-bottom: none;"></td>
                <td>@m.Key</td>
                <td>@m.Value</td>
                <td>@Html.ActionLink("Edit", "Edit", new { m.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { m.Id })</td>
            </tr>
            }
        </tbody>
    }

</table>