<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data Flow</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!string.IsNullOrWhiteSpace(CompanyLogo))
                {
                    <a href="@Url.Action("Index","School")" target="_blank">
                        <img src="@CompanyLogo" class="navbar-left" style="height: 45px;" alt="@CompanyName" title="@CompanyName" />
                    </a>
                }
                @Html.ActionLink("Data Flow Admin", "Index", "School", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Schools", "Index", "School")</li>
                        <li>@Html.ActionLink("Agents", "Index", "Agent")</li>
                        <li>@Html.ActionLink("Maps", "Index", "Map")</li>
                        <li>@Html.ActionLink("Logs", "Index", "Log")</li>
                        <li>@Html.ActionLink("Lookups", "Index", "Lookup")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Assessments", "Index", "Assessment")</li>
                                <li>@Html.ActionLink("Bootstrap Data", "Index", "BootstrapData")</li>
                                <li>@Html.ActionLink("Cache", "Index", "Cache")</li>
                                <li>@Html.ActionLink("Configuration", "Index", "Configuration")</li>
                            </ul>
                        </li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <img src="~/Content/Images/edfi-logo.png" alt="ed-fi alliance" title="ed-fi alliance" style="width: 100px; margin-right: 15px;" />Powered by Ed-Fi Technology
            <div style="max-width: 600px; float: right;">
                @EducationText
            </div>
        </footer>
        <div class="help-block" style="clear: both;">@ViewBag.DevText</div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
